name: CI Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build Application
      run: make build
      
    - name: Lint Documentation Links
      run: make lint-docs
      
    - name: Run Tests
      run: make test
